<!DOCTYPE html>
<html>
<head>
  {{template "_head" .}}

  <!-- External -->
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css">

</head>
<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>

      {{template "_header" .}}
      {{template "_side-bar" .}}

      <div class="main-content">
        <section class="section">

          {{template "_section-header" .}}

          <div class="section-body">
            <div class="row">
              {{template "_count-status-pembayaran"}}
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped" id="table-1">
                        <thead>
                          <tr>
                            <!-- <th class="text-center">#</th> -->
                            <th>Nama</th>
                            <th>No Kamar</th>
                            <th>No HP</th>
                            <th>Pekerjaan</th>
                            <th><center>Status</center></th>
                            <th><center>Pembayaran</center></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                                                
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      {{template "_footer" .}}

      <!-- External -->
      <!-- JS Libraies -->
      <script src="/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
      <script src="/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
      <script src="/node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js"></script>

      <!-- Page Specific JS File -->
      <!-- <script src="/static/js/page/modules-datatables.js"></script> -->
      <script src="/static/ex/js/views/member/owner/daftar-renter.js"></script>
      <script src="/static/ex/js/views/member/owner/getMyKos.js"></script>

      <script>
        $(document).ready(function(){
          $("#add_member").click(async function(){
            const {value: text} = await Swal.fire({
              title: 'Masukan nomer hp',
              input: 'text',
              inputPlaceholder: 'Masukan nomer hp calon anak kos',
              inputValidator: (value) => {
                if (!value) {
                  return 'Nomer hp diperlukan!'
                }
              }
            })

            if (text) {
              Swal.fire('Nomer hp: ' + text)
            }
          });
        });
      </script>
    </div>
  </div>
</body>
</html>
