<!DOCTYPE html>
<html>
<head>
  {{template "_head" .}}

  <!-- External -->
</head>
<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>

      {{template "_header" .}}
      {{template "_side-bar" .}}

      <div class="main-content">
        <section class="section">

          {{template "_section-header" .}}

          <div class="section-body">
            <div class="invoice">
              <div class="invoice-print">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card-body">
                      <div class="tickets">
                        <div class="ticket-content">
                          <div class="ticket-header">
                            <div class="ticket-sender-picture rounded-circle img-shadow">
                              <img id="avatar_pembayaran">
                            </div>
                            <div class="ticket-detail">
                              <div class="ticket-title">
                                <a href="anak-kos/1">
                                  <h4 id="nama"></h4>
                              </a>
                              </div>
                              <div class="ticket-info">

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <address>
                          Kamar: <strong id="kamar"></strong><br>
                          Durasi: <strong id="durasi"></strong><br>
                          Masuk: <strong id="tgl_masuk"></strong><br>
                          Selesai: <strong id="tgl_selesai"></strong><br>
                        </address>
                      </div>
                      <div class="col-md-6 text-md-right">
                        <address>
                          Tanggal Pembayaran : <strong id="tgl_dibayar"></strong><br>
                          Telah Dibayar: Rp. <strong id="dibayar" class="rupiah"> </strong><br>
                          <div class="badge badge-danger">Tagihan: Rp. <b id="tagihan" class="rupiah"> </b></div>
                        </address>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col-md-12">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover table-md">
                        <tr>
                          <th data-width="40">#</th>
                          <th>Deskripsi</th>
                          <th class="text-right">Harga</th>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>Harga Sewa Kos</td>
                          <td class="text-right">Rp. <b class="rupiah" id="harga_sewa"></b></td>
                        </tr>
                      </table>
                    </div>
                    <div class="row">
                      <div class="col-lg-8">

                      </div>
                      <div class="col-lg-4 text-right">
                        <div class="invoice-detail-item">
                          <div class="invoice-detail-name">Total</div>
                          <div class="invoice-detail-value invoice-detail-value-lg">Rp. <b class="rupiah" id="total"><b/></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="text-md-right">
                <div class="float-lg-left mb-lg-0 mb-3">
                  <button class="btn btn-primary btn-icon icon-left"><i class="fas fa-dollar-sign"></i> Tambah Biaya Lain</button>
                </div>
                <button class="btn btn-warning btn-icon icon-left"><i class="fas fa-edit"></i> Edit</button>
              </div>
            </div>
          </div>
        </section>
      </div>

      {{template "_footer" .}}

      <!-- External -->
      <script src="/static/ex/js/views/member/owner/getMyKos.js"></script>
      <script src="/static/ex/js/views/member/owner/detail-pembayaran.js"></script>
      <script src="/static/ex/js/igorescobar-jQuery-Mask-Plugin-535b4e4/jquery.mask.js"></script>
    </div>
  </div>
</body>
</html>
