<!DOCTYPE html>
<html>
<head>
  {{template "_head" .}}

  <!-- External -->
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>

</head>
<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>

      {{template "_header" .}}
      {{template "_side-bar" .}}

      <div class="main-content">
        <section class="section">

          {{template "_section-header" .}}

          <div class="section-body">
            <div class="row">
              {{template "_count-status-member"}}
            </div>
          </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <!-- <div class="card-header">
                    <h4>Laporan Bulanan</h4>

                    <div class="section-header-button">
                      <button id="add_pembayaran" type="submit" class="btn btn-sm btn-primary"><i class="fas fa-plus-circle"></i> Add New</button>
                    </div>
                  </div> -->
                  <div class="card-body">
                    <form>
                      <div class="form-group">
                        <label>Bulan</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="far fa-calendar-alt"></i>
                            </div>
                          </div>
                          <input type="text" class="form-control datepicker" id="date" data-date-format='MM yyyy' value="September 2019">
                        </div>
                      </div>
                    </form>
                    Total pembayaran yang masuk: <b>7.500.000</b> dari 10.000.000
                    <div class="progress mb-3">
                      <div class="progress-bar" role="progressbar" data-width="75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-striped" id="table-1">
                        <thead>
                          <tr>
                            <th class="text-center">No</th>
                            <th>Anak Kos</th>
                            <th>Durasi</th>
                            <th>Kamar</th>
                            <th>Selesai</th>
                            <th class="total">Total</th>
                            <th class="dibayar">Dibayar</th>
                            <th class="tagihan">Tagihan</th>
                            <th><center>Status</center></th>
                            <th>Aksi</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
      </div>

      {{template "_footer" .}}

      <!-- External -->
      <!-- JS Libraies -->
      <script src="/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
      <script src="/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
      <script src="/node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

      <!-- Page Specific JS File -->
      <!-- <script src="/static/js/page/modules-datatables.js"></script> -->
      <script src="/static/ex/js/views/member/owner/laporan-pembayaran.js"></script>
      <script src="/static/ex/js/views/member/owner/getMyKos.js"></script>
      <script src="/static/ex/js/igorescobar-jQuery-Mask-Plugin-535b4e4/jquery.mask.js"></script>

      </script>
      <script>
        $(document).ready(function(){
          $("#date").datepicker({
            orientation: 'auto bottom',
            autoclose: true,
            viewMode: "months",
            minViewMode: "months"
          });

          $("#add_pembayaran").click(async function(){
            const {value: text} = await Swal.fire({
              title: 'Tambah pembayaran',
              input: 'text',
              inputPlaceholder: 'Masukan nomer hp member baru',
              inputValidator: (value) => {
                if (!value) {
                  return 'Nomer hp diperlukan!'
                }
              }
            })

            if (text) {
              Swal.fire('Nomer hp: ' + text)
            }
          });

          $(".btn-hapus_pembayaran").click(function() {
            swalertConfirm('warning', 'mengapus pembayaran ini', 'url', 'data', 'Telah Dihapus', 'Pembayaran berhasil dihapus!');
          });
        });
      </script>
    </div>
  </div>
</body>
</html>
