<!DOCTYPE html>
<html>
<head>
  {{template "_head" .}}

  <!-- External -->
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>

</head>
<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>

      {{template "_header" .}}
      {{template "_side-bar" .}}

      <div class="main-content">
        <section class="section">

          {{template "_section-header" .}}

          <div class="section-body">
            <div class="row">
              {{template "_count-status-pembayaran"}}
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <!-- <div class="card-header">
                  <h4>Laporan Bulanan</h4>

                  <div class="section-header-button">
                    <button id="add_pembayaran" type="submit" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> Add New</button>
                  </div>
                </div> -->
                <div class="card-body">
                  <!-- <form> -->
                    <div class="form-group">
                      <label>Periode</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="far fa-calendar-alt"></i>
                          </div>
                        </div>
                        <input type="text" class="form-control col-md-3 col-sm-12 datepicker" id="date" data-date-format='MM yyyy' value="">
                        <!-- <div class="input-group-btn"> -->
                          <button class="btn btn-primary mx-sm-2" id="btn-search"><i class="fas fa-search"></i></button>
                          <div class="ml-auto">
                            <button class="btn btn-warning float-right mb-2"><span><i class="fa fa-file-pdf fa-lg"></i> PDF</span></button>
                          </div>
                          <!-- <div class="ml-auto">
                            <a class="btn btn-primary" id="add_pembayaran"><i class="fa fa-plus"></i> Pembayaran Baru</a>
                          </div> -->
                        <!-- </div> -->
                      </div>
                    </div>
                  <!-- </form> -->
                    Total pembayaran yang masuk: Rp <div class="badge badge-primary"><span class="total-pemasukan rupiah"></span></div>


                  <!-- <div class="progress mb-3">
                    <div class="progress-bar" role="progressbar" data-width="75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                  </div> -->
                  <div class="table-responsive">
                    <table class="table table-striped" id="table-1">
                      <thead>
                        <tr>
                          <!-- <th class="text-center">No</th> -->
                          <th>Invoice</th>
                          <th>Anak Kos</th>
                          <!-- <th>Durasi</th> -->
                          <th>Kamar</th>
                          <th><center>Tgl Pembayaran</center></th>
                          <th class="nominal">Nominal</th>
                          <th>Berakhir</th>
                          <th class="total">Total Pembayaran</th>
                          <th class="tagihan">Tagihan</th>
                          <th><center>Status</center></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      {{template "_footer" .}}

      <!-- External -->
      <!-- JS Libraies -->
      <script src="/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
      <script src="/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
      <script src="/node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

      <!-- Page Specific JS File -->
      <!-- <script src="/static/js/page/modules-datatables.js"></script> -->
      <script src="/static/ex/js/views/member/owner/laporan-pembayaran.js"></script>
      <script src="/static/ex/js/views/member/owner/getMyKos.js"></script>
      <script src="/static/ex/js/igorescobar-jQuery-Mask-Plugin-535b4e4/jquery.mask.js"></script>

      </script>
      <script>
        $(document).ready(function(){
          $("#date").datepicker({
            orientation: 'auto bottom',
            autoclose: true,
            viewMode: "months",
            minViewMode: "months"
          });

          $("#btn-search").click(function() {
            var slug    = getUrlParameter('kos');
            var periode = $("#date").val().split(" ");
            var bulan = periode[periode.length-2];
            var tahun = periode[periode.length-1];
            window.location.href = "/laporan-pembayaran?kos="+slug+"&bulan="+bulan+"&tahun="+tahun;
          });

          $(".btn-hapus_pembayaran").click(function() {
            swalertConfirm('warning', 'mengapus pembayaran ini', 'url', 'data', 'Telah Dihapus', 'Pembayaran berhasil dihapus!');
          });
        });
      </script>
    </div>
  </div>
</body>
</html>
