<!DOCTYPE html>
<html>
<head>
  {{template "_head" .}}

  <!-- External -->
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/node_modules/chocolat/dist/css/chocolat.css"><!-- CSS Libraries -->
  <link rel="stylesheet" href="/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>

</head>
<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>

      {{template "_header" .}}

      <div class="main-content">
        <section class="section">

          {{template "_section-header" .}}

          <div class="section-body">
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Pembayaran</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-12 col-sm-5 col-lg-3">
                              <div class="author-box-left">
                                <img alt="image" src="/static/img/avatar/avatar-1.png" class="rounded-circle author-box-picture" width="190">
                                <div class="clearfix"></div>
                              </div>
                            </div>
                            <div class="col-12 col-sm-5 col-lg-8">
                              <ul class="nav nav-pills" id="myTab3" role="tablist">
                                <li class="nav-item">
                                  <a class="nav-link active" id="home-tab3" data-toggle="tab" href="#home3" role="tab" aria-controls="home" aria-selected="true">Biodata</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="contact-tab3" data-toggle="tab" href="#contact3" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="profile-tab3" data-toggle="tab" href="#profile3" role="tab" aria-controls="profile" aria-selected="false">Data Kos</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="lainnya-tab3" data-toggle="tab" href="#lainnya3" role="tab" aria-controls="lainnya" aria-selected="false">Lain-lain</a>
                                </li>
                              </ul>
                              <div class="tab-content" id="myTabContent2">
                                <div class="tab-pane fade show active" id="home3" role="tabpanel" aria-labelledby="home-tab3">
                                  <address>
                                    Nama : <strong>Hugo Iman</strong><br>
                                    Umur : <strong>17 Tahun</strong><br>
                                    Pekerjaan : <strong>Mahasiswa</strong><br>
                                    Gender : <strong>Pria</strong><br>KTP :
                                    <div class="gallery">
                                      <div class="gallery-item" data-image="/static/img/news/img01.jpg" data-title="Image 1"></div>
                                    </div>
                                  </address>
                                </div>
                                <div class="tab-pane fade" id="contact3" role="tabpanel" aria-labelledby="contact-tab3">
                                  <address>
                                    Telp : <strong>08123456789</strong><br>
                                    Email : <strong>hugo@gmail.com</strong><br>
                                    Alamat : <strong>Jl. Melati 1 no 4</strong>
                                  </address>
                                </div>
                                <div class="tab-pane fade" id="profile3" role="tabpanel" aria-labelledby="profile-tab3">
                                  <address>
                                    Kos : <a href="#"><strong>Arra Kos, Veteran Dalem II</strong></a><br>
                                    Kamar : <strong>17</strong><br>
                                    Masa Sewa : <strong>17 January 2019</strong><br>
                                    Durasi : <strong>12 Bulan</strong><br>
                                    Tanggal Selesai : <strong>11 January 2020</strong><br>
                                  </address>
                                </div>
                                <div class="tab-pane fade" id="lainnya3" role="tabpanel" aria-labelledby="lainnya-tab3">
                                  <address>
                                    Riwayat penyakit : <strong>Sariawan</strong><br>
                                  </address>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="table-responsive">
                          <table class="table table-striped" id="table-1">
                            <thead>
                              <tr>
                                <th class="text-center">#</th>
                                <th>Masuk</th>
                                <th>Durasi</th>
                                <th>Selesai</th>
                                <th>Total</th>
                                <th>Dibayar</th>
                                <th>Tagihan</th>
                                <th>Status</th>
                                <th>Aksi</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>17 Jan 2019</td>
                                <td>12 Bulan</td>
                                <td>16 Jan 2020</td>
                                <td>1.000.000</td>
                                <td>0</td>
                                <td>1.000.000</td>
                                <td><center><div class="badge badge-danger">Belum Bayar</div></center></td>
                                <td>
                                  <a href="/mykos/pembayaran/1?member=hugo" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="view"><i class="far fa-eye"></i></a>
                                  <button type="submit" class="btn btn-danger btn-hapus_pembayaran" data-toggle="tooltip" data-placement="top" title="delete"><i class="far fa-trash-alt"></i></button>
                                </td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>17 Jan 2018</td>
                                <td>12 Bulan</td>
                                <td>16 Jan 2019</td>
                                <td>1.000.000</td>
                                <td>500.000</td>
                                <td>500.000</td>
                                <td><center><div class="badge badge-warning">Angsur</div></center></td>
                                <td>
                                  <a href="/mykos/pembayaran/1?member=hugo" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="view"><i class="far fa-eye"></i></a>
                                  <button type="submit" class="btn btn-danger btn-hapus_pembayaran" data-toggle="tooltip" data-placement="top" title="delete"><i class="far fa-trash-alt"></i></button>
                                </td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>17 Jan 2017</td>
                                <td>12 Bulan</td>
                                <td>16 Jan 2018</td>
                                <td>1.000.000</td>
                                <td>1.000.000</td>
                                <td>0</td>
                                <td><center><div class="badge badge-success">Lunas</div></center></td>
                                <td>
                                  <a href="/mykos/pembayaran/1?member=hugo" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="view"><i class="far fa-eye"></i></a>
                                  <button type="submit" class="btn btn-danger btn-hapus_pembayaran" data-toggle="tooltip" data-placement="top" title="delete"><i class="far fa-trash-alt"></i></button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      {{template "_footer" .}}

      <!-- External -->
      <!-- JS Libraies -->
      <script src="/node_modules/chocolat/dist/js/jquery.chocolat.min.js"></script><!-- JS Libraies -->
      <script src="/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
      <script src="/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
      <script src="/node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

      <!-- Page Specific JS File -->
      <script src="/static/js/page/modules-datatables.js"></script>
    </div>
  </div>
</body>
</html>
