{{define "_form1"}}

<form id="form1">
  <div class="card-body">
    <div class="form-group">
      <label>Nama Kos*</label>
      <input type="text" class="form-control form-control-sm" id="nama_kos" placeholder="Nama Kos Anda">
      <div class="invalid-feedback" id="invalid_nama_kos"></div>
    </div>
    <div class="form-group">
      <label>Tipe kos*</label>
      <div class="form-group mx-sm-4 mb-2">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" name="tipe_kos" id="customRadioInline1" value="Putri">
          <label class="custom-control-label" for="customRadioInline1">Putri</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" name="tipe_kos" id="customRadioInline2" value="Putra">
          <label class="custom-control-label" for="customRadioInline2">Putra</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" name="tipe_kos" id="customRadioInline3" value="Campur">
          <label class="custom-control-label" for="customRadioInline3">Campur</label>
        </div>

        <div class="invalid-feedback" id="invalid_tipe_kos"></div>
      </div>
    </div>
    <div class="form-group">
      <label>Luas Kamar*</label>
      <input type="text" class="form-control form-control-sm" id="luas_kamar" placeholder="misal: 3x4, 2x3">
      <div class="invalid-feedback" id="invalid_luas_kamar"></div>
    </div>
    <div class="form-group">
      <label>Total Kamar*</label>
      <input type="number" class="form-control form-control-sm" id="total_kamar" min="1" placeholder="">
      <div class="invalid-feedback" id="invalid_total_kamar"></div>
    </div>
    <div class="form-group">
      <label>Harga Sewa (Boleh memilih lebih dari 1)</label>
      <div class="form-inline mx-sm-4 mb-2">
        <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" class="custom-control-input" name="bulanan" id="customCheck1" value="Bulanan" checked disabled>
          <label class="custom-control-label" for="customCheck1">Bulanan</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" class="custom-control-input" name="harian" id="customCheck2" value="Harian">
          <label class="custom-control-label" for="customCheck2">Harian</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" class="custom-control-input" name="mingguan" id="customCheck3" value="Mingguan">
          <label class="custom-control-label" for="customCheck3">Mingguan</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" class="custom-control-input" name="mingguan" id="customCheck4" value="Tahunan">
          <label class="custom-control-label" for="customCheck4">Tahunan</label>
        </div>
      </div>
      <div class="form-inline mx-sm-4 mb-2">
        <div class="input-group mb-2 mr-sm-4" id="form_harga_bulanan">
          <input type="number" class="form-control form-control-sm" id="harga_bulanan" min="1"> /bulan*
          <div class="invalid-feedback" id="invalid_harga_bulanan"></div>
        </div>
        <div class="input-group mb-2 mr-sm-2" id="form_harga_harian">
          <input type="number" class="form-control form-control-sm" id="harga_harian" min="1"> /hari
          <div class="invalid-feedback" id="invalid_harga_harian"></div>
        </div>
        <div class="input-group mb-2 mr-sm-2" id="form_harga_mingguan">
          <input type="number" class="form-control form-control-sm" id="harga_mingguan" min="1"> /minggu
          <div class="invalid-feedback" id="invalid_harga_mingguan"></div>
        </div>
        <div class="input-group mb-2 mr-sm-2" id="form_harga_tahunan">
          <input type="number" class="form-control form-control-sm" id="harga_tahunan" min="1"> /tahun
          <div class="invalid-feedback" id="invalid_harga_tahunan"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <input type="button" class="btn btn-warning" id="btnToForm0" value="Kembali">
    <input type="button" class="btn btn-primary" id="validasi_form1" value="Berikutnya">
  </div>
</form>

{{end}}
