{{define "_form3"}}

<div id="form3" class="col-12 col-lg-8 offset-lg-2">
  <div class="card-body">
    <div class="section-title">Foto Kamar Tidur</div>
    <div class="form-row">
      <div class="card-body">
        <form action="/upload" class="dropzone" id="kamar_tidur">
          <div class="fallback">
            <input name="kamar_tidur" type="file" multiple />
          </div>
        </form>
      </div>
    </div>

    <div class="section-title">Foto Kamar Mandi</div>
    <div class="form-row">
      <div class="card-body">
        <form action="#" class="dropzone" id="kmandi">
          <div class="fallback">
            <input name="file" type="file" multiple />
          </div>
        </form>
      </div>
    </div>

    <div class="section-title">Foto Bangunan Rumah</div>
    <div class="form-row">
      <div class="card-body">
        <form action="#" class="dropzone" id="bangunan">
          <div class="fallback">
            <input name="file" type="file" multiple />
          </div>
        </form>
      </div>
    </div>

    <div class="section-title">Foto Ruangan Lain (Optional)</div>
    <div class="form-row">
      <div class="card-body">
        <form action="#" class="dropzone" id="ruangan">
          <div class="fallback">
            <input name="file" type="file" multiple />
          </div>
        </form>
      </div>
    </div>

    <!-- <div class="section-title">Foto Bangunan Kos</div>

    <div class="section-title">Foto Kamar Mandi</div> -->

  </div>
  <div class="card-footer text-right">
    <input type="button" class="btn btn-warning" id="btnToForm2" value="Kembali">
    <input type="button" class="btn btn-primary" id="validasi_form3" value="Simpan">
  </div>
</div>

{{end}}
