{{define "_form3"}}

<form id="form3">
  <div class="card-body">
    <div class="section-title">Foto Kamar Tidur</div>
    <div class="form-row">
      <div class="custom-file col-md-5">
        <input type="file" class="custom-file-input" name="file" id="input_foto" accept="image/*" required>
        <label class="custom-file-label" for="customFile">Pilih Foto</label>
        <small class="form-text text-muted">Foto Kamar Tidur</small>
      </div>
    </div>

    <div class="section-title">Foto Bangunan Kos</div>

    <div class="section-title">Foto Kamar Mandi</div>

  </div>
  <div class="card-footer text-right">
    <input type="button" class="btn btn-warning" id="btnToForm2" value="Kembali">
    <input type="button" class="btn btn-primary" id="validasi_form3" value="Simpan">
  </div>
</form>

{{end}}
