{{define "_form2"}}

<form id="form2">
  <div class="card-body">
    <div class="section-title">Fasilitas Umum</div>

    <div class="section-title">Fasilitas Kamar</div>

    <div class="section-title">Fasilitas Kamar Mandi</div>

    <div class="section-title">Lingkungan</div>

  </div>
  <div class="card-footer text-right">
    <input type="button" class="btn btn-warning" id="btnToForm1" value="Kembali">
    <input type="button" class="btn btn-primary" id="validasi_form2" value="Berikutnya">
  </div>
</form>

{{end}}
