{{define "_form2"}}

<form id="form2" class="col-12 col-lg-12 offset-lg-2">
  <div class="card-body">
    <div class="section-title">Fasilitas Bersama</div>
      <div class="form-group" id="fasilitas_bersama"></div>
    <div class="section-title">Fasilitas Kamar</div>
      <div class="form-group" id="fasilitas_kamar"></div>
    <div class="section-title">Fasilitas Kamar Mandi</div>
      <div class="form-group" id="fasilitas_kmandi"></div>
    <div class="section-title">Lingkungan</div>
      <div class="form-group" id="fasilitas_area"></div>
  </div>
  <div class="card-footer text-right col-lg-8">
    <input type="button" class="btn btn-warning" id="btnToForm1" value="Kembali">
    <input type="button" class="btn btn-primary" id="validasi_form2" value="Berikutnya">
  </div>
</form>

{{end}}
