{{define "_footer"}}

<footer class="main-footer">
  <input type="text" id="id_member" name="id_member" hidden>
  <input type="text" id="username" name="username" hidden>
  <input type="text" id="nama" name="nama" hidden>
  <input type="text" id="email" name="email" hidden>
  <input type="text" id="no_hp" name="no_hp" hidden>
  <input type="text" id="tanggal_lahir" name="tanggal_lahir" hidden>
  <input type="text" id="jenis_kelamin" name="jenis_kelamin" hidden>
  <input type="text" id="alamat" name="alamat" hidden>
  <input type="text" id="foto" name="foto" hidden>
  <div class="footer-left">
    Copyright &copy; 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
  </div>
  <div class="footer-right">
    2.3.0
  </div>
</footer>

<!-- General JS Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/static/js/stisla.js"></script>
<script src="/static/ex/js/views/member/auth.js"></script>

<!-- Template JS File -->
<script src="/static/js/scripts.js"></script>
<script src="/static/js/custom.js"></script>

<!-- Sweet Alert 2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="/static/ex/js/alert.js"></script>

{{end}}
