<!DOCTYPE html>
<html>
<head>
  {{template "_head" .}}

  <!-- External -->
</head>
<body class="layout-3">
  <div id="app">
    <div class="main-wrapper container">
      <div class="navbar-bg"></div>

      {{template "_header" .}}

      <div class="main-content">
        <section class="section">
          <!-- {{template "_section-header" .}} -->
          <div class="section-body">
            <h6 class="section-title">Ditemukan 156 hasil pencarian.</h6>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <article class="article">
                  <div class="article-header">
                    <div class="article-image" data-background="/static/img/news/img08.jpg">
                    </div>
                    <div class="article-title">
                      <h2><a href="#">Nama Kos</a></h2>
                    </div>
                  </div>
                  <div class="article-details">
                    Putri <span class="bullet"></span> Lowokwaru, Malang <br>
                    Rp 1.000.000/bulan <span class="bullet"></span> Ada 5 kamar <br>
                    <i class="fas fa-wifi" data-toggle="tooltip" data-placement="top" title="wifi"></i>
                    <i class="fas fa-bath" data-toggle="tooltip" data-placement="top" title="kamar mandi luar"></i>
                    <i class="fas fa-bed" data-toggle="tooltip" data-placement="top" title="kasur"></i>
                    <i class="fas fa-key" data-toggle="tooltip" data-placement="top" title="akses 24 jam"></i>
                    <br>
                    <small>Diperbarui 2 hari yang lalu</small>
                    <div class="article-cta">
                      <a href="/kos/1" class="btn btn-primary">Lihat</a>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <article class="article">
                  <div class="article-header">
                    <div class="article-image" data-background="/static/img/news/img08.jpg">
                    </div>
                    <div class="article-title">
                      <h2><a href="#">Nama Kos</a></h2>
                    </div>
                  </div>
                  <div class="article-details">
                    Putri <span class="bullet"></span> Lowokwaru, Malang <br>
                    Rp 1.000.000/bulan <span class="bullet"></span> Ada 5 kamar <br>
                    <i class="fas fa-wifi" title="wifi"></i>
                    <i class="fas fa-bath"></i>
                    <i class="fas fa-bed" title="kasur"></i>
                    <i class="fas fa-tv-retro"></i><br>
                    <small>Diperbarui 2 hari yang lalu</small>
                    <div class="article-cta">
                      <a href="/kos/1" class="btn btn-primary">Lihat</a>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <article class="article">
                  <div class="article-header">
                    <div class="article-image" data-background="/static/img/news/img08.jpg">
                    </div>
                    <div class="article-title">
                      <h2><a href="#">Nama Kos</a></h2>
                    </div>
                  </div>
                  <div class="article-details">
                    Putri <span class="bullet"></span> Lowokwaru, Malang <br>
                    Rp 1.000.000/bulan <span class="bullet"></span> Ada 5 kamar <br>
                    <i class="fas fa-wifi" title="wifi"></i>
                    <i class="fas fa-bed" title="kasur"></i>
                    <i class="fas fa-shower" title="shower"></i>
                    <i class="fas fa-tv-retro"></i><br>
                    <small>Diperbarui 2 hari yang lalu</small>
                    <div class="article-cta">
                      <a href="/kos/1" class="btn btn-primary">Lihat</a>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <article class="article">
                  <div class="article-header">
                    <div class="article-image" data-background="/static/img/news/img08.jpg">
                    </div>
                    <div class="article-title">
                      <h2><a href="#">Nama Kos</a></h2>
                    </div>
                  </div>
                  <div class="article-details">
                    Putri <span class="bullet"></span> Lowokwaru, Malang <br>
                    Rp 1.000.000/bulan <span class="bullet"></span> Ada 5 kamar <br>
                    <i class="fas fa-wifi" title="wifi"></i>
                    <i class="fas fa-bed" title="kasur"></i>
                    <i class="fas fa-shower" title="shower"></i>
                    <i class="fas fa-tv-retro"></i><br>
                    <small>Diperbarui 2 hari yang lalu</small>
                    <div class="article-cta">
                      <a href="/kos/1" class="btn btn-primary">Lihat</a>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <article class="article">
                  <div class="article-header">
                    <div class="article-image" data-background="/static/img/news/img08.jpg">
                    </div>
                    <div class="article-title">
                      <h2><a href="#">Nama Kos</a></h2>
                    </div>
                  </div>
                  <div class="article-details">
                    Putri <span class="bullet"></span> Lowokwaru, Malang <br>
                    Rp 1.000.000/bulan <span class="bullet"></span> Ada 5 kamar <br>
                    <i class="fas fa-wifi" title="wifi"></i>
                    <i class="fas fa-bed" title="kasur"></i>
                    <i class="fas fa-shower" title="shower"></i>
                    <i class="fas fa-tv-retro"></i><br>
                    <small>Diperbarui 2 hari yang lalu</small>
                    <div class="article-cta">
                      <a href="/kos/1" class="btn btn-primary">Lihat</a>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <article class="article">
                  <div class="article-header">
                    <div class="article-image" data-background="/static/img/news/img08.jpg">
                    </div>
                    <div class="article-title">
                      <h2><a href="#">Nama Kos</a></h2>
                    </div>
                  </div>
                  <div class="article-details">
                    Putri <span class="bullet"></span> Lowokwaru, Malang <br>
                    Rp 1.000.000/bulan <span class="bullet"></span> Ada 5 kamar <br>
                    <i class="fas fa-wifi" title="wifi"></i>
                    <i class="fas fa-bed" title="kasur"></i>
                    <i class="fas fa-shower" title="shower"></i>
                    <i class="fas fa-tv-retro"></i><br>
                    <small>Diperbarui 2 hari yang lalu</small>
                    <div class="article-cta">
                      <a href="/kos/1" class="btn btn-primary">Lihat</a>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div class="buttons">
              <center>
                <a href="#" class="btn btn-light"><i class="fas fa-arrow-circle-down"></i> Lihat lebih banyak lagi</a>
              </center>
            </div>
          </div>
        </section>
      </div>

      {{template "_footer" .}}

    </div>
  </div>
</body>
</html>
