<!DOCTYPE html>
<html>
<head>
  {{template "_head" .}}

  <!-- External -->
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>

</head>
<body class="layout-3">
  <div id="app">
    <div class="main-wrapper container">
      <div class="navbar-bg"></div>

      {{template "_header" .}}

      <div class="main-content">
        <section class="section">

          {{template "_section-header" .}}

          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped" id="table-1">
                        <thead>
                          <tr>
                            <th>Kos</th>
                            <th>Jangka Waktu</th>
                            <th class="total">Total Pembayaran</th>
                            <th class="dibayar">Telah Dibayar</th>
                            <th class="tagihan">Tagihan</th>
                            <th><center>Status</center></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        {{template "_footer" .}}

        <!-- External -->
        <!-- JS Libraies -->
        <script src="/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="/node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

        <!-- Page Specific JS File -->
        <script src="/static/ex/js/views/member/renter/histori-pembayaran.js"></script>
        <!-- <script src="/static/ex/js/views/member/owner/getMyKos.js"></script> -->
        <script src="/static/ex/js/igorescobar-jQuery-Mask-Plugin-535b4e4/jquery.mask.js"></script>

      </div>
    </div>
  </div>
</body>
</html>
